@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	{ 
	margin:0;padding:0;
	}
ul,ol{ 
	list-style:none;
	}
a{	
	text-decoration:none; color:#000;
	}
img{ 
	border:none; 
 }
th,td{
	padding:0;
	}
table{
	border-collapse:collapse;
	}
.clearfix:after{
	content:'';
	display:block;
	clear: both;
	}
.fl{
	float:left;
	}
.fr{
	float:right;
	}